html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  line-height: 1;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu-top {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 5;
}
.menu-top ul li {
  color: #585248;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.menu-top ul .active {
  color: #e40810;
}
@media only screen and (max-width: 768px) {
  .menu-top {
    top: 20px;
    right: 20px;
  }
  .menu-top ul li {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.ghost {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 5;
}
@media only screen and (max-width: 768px) {
  .ghost {
    top: 20px;
    left: 20px;
  }
}

.social-top {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 5;
}
.social-top ul li {
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .social-top {
    display: none;
  }
}

.music {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  display: flex;
  align-items: center;
}
.music button {
  background: none;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  color: #e40810;
}
.music button span {
  color: #585248;
}
.music h4 {
  font-size: 16px;
  font-weight: 600;
  color: #e40810;
}
@media only screen and (max-width: 768px) {
  .music {
    bottom: 20px;
    right: 20px;
  }
}

.main-hero-wrapper {
  padding: 150px 0;
  background-image: url("../images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  cursor: default;
  height: 100vh;
}
.main-hero-wrapper .video-over-content {
  position: relative;
  z-index: 2;
}
.main-hero-wrapper .video-over-content .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-hero-wrapper .video-over-content h1 {
  font-size: 18px;
  font-weight: 600;
  color: #e40810;
  margin: 0 auto;
  padding-bottom: 30px;
  letter-spacing: 4px;
  width: -moz-fit-content;
  width: fit-content;
}
.main-hero-wrapper .video-over-content h2 {
  font-size: 100px;
  font-weight: 700;
  color: #473b3b;
  line-height: 0.8;
  margin: 5px auto;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}
.main-hero-wrapper .video-over-content h3 {
  font-size: 100;
  font-weight: 700;
  color: #e40810;
  margin: 5px auto;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}
.main-hero-wrapper video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
}
@media only screen and (max-width: 768px) {
  .main-hero-wrapper .video-over-content h2 {
    font-size: 60px;
  }
  .main-hero-wrapper .video-over-content h3 {
    font-size: 60px;
  }
}

.about-wrapper {
  padding: 150px 0 80px 0;
}
.about-wrapper h2 {
  font-size: 14px;
  font-weight: 600;
  color: #e40810;
  margin-bottom: 20px;
  letter-spacing: 8px;
}
.about-wrapper p {
  font-size: 80px;
  font-weight: 600;
  color: #473b3b;
  line-height: 1.2;
}
.about-wrapper p b {
  color: #fff;
}
.about-wrapper span {
  opacity: 0.1;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .about-wrapper p {
    font-size: 40px;
  }
}

.what-ido-wrapper {
  padding: 0 0 150px 0;
}
.what-ido-wrapper h2 {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  letter-spacing: 8px;
}
.what-ido-wrapper .list-wrapper {
  border-top: 1px solid rgba(184, 172, 153, 0.15);
  padding: 25px 0;
  transition: all 0.4s ease-in-out;
}
.what-ido-wrapper .list-wrapper .list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.what-ido-wrapper .list-wrapper .list-box h3 {
  font-size: 50px;
  color: #e40810;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
.what-ido-wrapper .list-wrapper .list-box h4 {
  font-size: 14px;
  text-align: right;
  color: #0d0d0d;
}
@media only screen and (max-width: 768px) {
  .what-ido-wrapper .list-wrapper .list-box h3 {
    font-size: 50px;
  }
  .what-ido-wrapper .list-wrapper .list-box h4 {
    display: none;
  }
}
.what-ido-wrapper .list-wrapper:last-child {
  border-bottom: 1px solid rgba(184, 172, 153, 0.15);
}
.what-ido-wrapper .list-wrapper:hover {
  background-color: #fff;
}
.what-ido-wrapper .list-wrapper:hover h3 {
  color: #473b3b;
}

.form-wrapper {
  padding: 150px 0;
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: rgb(129, 129, 129);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  #cursor {
    display: none;
  }
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(133, 133, 133);
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  #cursor-border {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */